@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.bg-container {
    background-image: url("https://assets.ccbp.in/frontend/dynamic-webapps/time-converter-bg.png");
    background-size: cover;
    height: 100vh;
}

.heading {
    font-family: "Roboto";
    font-size: 30px;
    color: #ffffff;
    font-weight: bold;
}

.paragraph {
    font-family: "Roboto";
    font-size: 18px;
    color: #ffffff;
    font-weight: bold;
}

.label {
    font-family: "Roboto";
    font-size: 14px;
    color: #ffffff;
    font-weight: bold;
}

.button {
    font-family: "Roboto";
    border-radius: 8px;
    padding: 5px;
    background: #f5f7fa;
}

.errmsg {
    font-family: "Roboto";
    color: #ffffff;
    font-size: 20px;
    font-weight: 200;
}

.timeinseconds {
    font-family: "Roboto";
    border-radius: 8px;
    padding: 5px;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
}